// edit the map below to delete or add new variables
$baseFontSize: 14px;
$color-primary: #2176ff;
$color-link: #33a1fd;

$color-green: #13bb34;
$color-yellow: #f4d35e;

$gray-1: #717171;
$gray-2: #424242;
$gray-3: #a5a5a5;
$gray-4: #cecece;
$gray-border: #e7e7e7;

$btn-border-radius: 7px;