// import font icons

// import other files here maybe ?
@import "./base";


// custom classes
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noevents {
    pointer-events: none;
}

.w-full {
    width: 100%;
}

.h-screen {
    height: 100vh;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    @extend .h-center;
    width: 1170px;
}